/* Clearing default parameters */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

/* Utilis class */

:root{
    --main-color:#c59d5f
}
.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-center-xy{
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1330px;
    margin: 50px 0;
    padding-inline: 20px;
    margin-inline: auto;
    overflow: hidden;
}

.underline{
    margin: 20px  0;
    width: 20%;
    border: 2px solid var(--main-color);
}


/* Heading parameters */


.header-container{
    padding: 5px 0 0 0;
    position: relative;
}

.nav-bar-items ol{
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    list-style: none;
    color: var(--main-color);
    display: inline-block;
    padding: 5px;
    padding-inline: 15px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.2rem;
    transition: 0.5s ease;
}



/* Restarent dish */

.hotel-dish-avail{
    flex-wrap: wrap;
}


/* Single Dish  */

.hotel-dish-avail{
    justify-content: center;
    row-gap: 50px;
    column-gap: 25px;
    justify-content: center

}

.dish-items{
    width: 572px;
    position: relative;
    gap: 20px;
    
    
}

.dish-items .underline{
    width: 100%;
}

.dish-details{
    width: 320px;
}


.img-container img{
    width: 239px;
    border-radius: 10px;
    border: 3.5px solid var(--main-color);
    height: 150px;
    object-fit: cover;
}

.name-price{
    justify-content: space-between;
}


/* Hover properties */
li:hover{
    background-color: var(--main-color);
    color: #fefefe;
    border: 2px solid #905d0b
}


/* Media query */

@media screen and (max-width:600px) {
    .dish-details{
        overflow: hidden;
    }
    
    .dish-items{
        flex-direction: column !important;
        align-items: center;
        gap: 10px;
        position: relative;
    }

    .dish-items .underline{
       border-bottom: 1px;
       margin: 10px 0;
       width: 100%;
    }

    .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-container img{
        width: min(max(300px,70%),309px);
    }
}